
### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

#
## Python
#

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.envrc

# virtualenv
.venv
venv/
ENV/
Pipfile
Pipfile.lock

# ruff
.ruff_cache/

# mypy
.mypy_cache/

.pytest_cache
.DS_Store
.vscode/

# dbt .user files
.user.yml
dbt_packages

# showcase duckdb db
dbt_duckdb.db


